$font-header: 25px
    
header
    background-color: #8c3e9a
    color: white
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24)

.header-web
    display: flex
    font-size: $font-header
    margin-bottom: 40px
    padding: 10px
    a
        color: white
    .home
        flex: 1
    .menu
        display: flex
        

@media only screen and (max-width: 768px)
    .header-web
        .item
            height: 100%
            button
                height: 100%